* {
  font-family: "Raleway", sans-serif;
}

h1 {
  text-align: center;
}

h2, h3, h4 {
  margin-left: 10px;
}

h4 {
  font-weight: bold;
}

p {
  line-height: 2;
  margin: 0 10px;
}

.align_algorithms {
  margin-left: 20px;
}

.demo_image
{
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

.hybrid_images_table table {
	width: 100%;
}

.hybrid_images_table td {
	width: 20%;
}

.hybrid_images_table table, th {
  border: 2px solid black;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 25px;
}

.hybrid_images_table td {
  border: 2px solid black;
  text-align: center;
  font-size: 20px;
  padding: 10px 5px 10px 5px;
}

.process li {
  font-weight: bold;
}

ol {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.autosterogram_images
{
  height: auto; 
  width: auto; 
  max-width: 600px; 
  max-height: 600px;
}

.autosterogram_sharks
{
  height: auto; 
  width: auto; 
  max-width: 1500px; 
  max-height: 800px;
}

.final_project_results
{
  height: auto; 
  width: auto; 
  max-width: 800px; 
  max-height: 600px;
}

.final_project_chairs
{
  width: 20%; text-align: center;
  width: 20%; text-align: center;
  width: 20%; text-align: center;
  width: 20%; text-align: center;
}

                    

