* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    /* font-family: "Wide Light", Agrandir; */
    color: #281f15
}

html {
    scroll-behavior: smooth;
}

h1 {
    width: 500px;
    font-size: 50px;
    /* font-family: "NTR",sans-serif; */
    margin: 0 auto;
    letter-spacing: 4px;
    text-align: center;
    padding: 10px;
}

h2 { 
    text-align: center;
    padding: 20px;
}

p, footer {
    margin: 20px 20px;
    line-height: 2;
    text-align: center;
}

.column1, .column2 {
    font-size: 18px;
    font-weight: lighter;
    color: #606060;
}

a {
    color: inherit;
}

nav {
    width: 100%;
    padding:15px 0;
    font-size: 20px;
}

nav a {
    /* font-family: "NTR", sans-serif; */
    text-decoration: none;
    color: rgb(44, 40, 40);
    margin: 0 5px;
    letter-spacing: 0px;

}

footer {
    margin: 5px 15px;
}

footer, footer a {
    color: gray;
    clear: left;
}

.banner {
    width: 100%;
    height: 75px;
}

.header {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {
    width: 600px;
    padding-bottom: 100px;
    margin-top: 90px;
    margin-left: 90px;
}

.about a {
    color: gray;
}

.aboutme {
    width: 150px;
    padding: 30px;
    height: auto;
    float: center;
    border-radius: 100px;
}

.experience {
    padding: 15px 0;
    text-align: center;
    margin-top: 60px;
}

.courses {
    width: 1000px;
}

.wrapper {
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.wrapper > div {
    padding: 1em;
}

.project {
    padding: 20px 0;
}

.project a img {
    margin: 10px 20px;
    max-width: 300px;
}

.align_left {
    float: left;
}

.align_right {
    float: right;
}


