* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

h1 {
    width: 500px;
    margin: 0 auto;
    letter-spacing: 8px;
    text-align: center;
    border: 4px solid #669999;
    border-radius: 8px;
    padding: 10px;
    color: black;
}

h2 { 
    text-align: center;
    padding: 20px;
}

p, footer {
    margin: 20px 20px;
    line-height: 2;
    text-align: center;
}

.column1, .column2 {
    font-size: 18px;
    font-weight: lighter;
    color: #606060;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    width: 100%;
    padding:15px 0;
    margin: 0px auto 50px auto;
    font-size: 20px;
    background-color: #669999;
    text-align: center;
}

nav a {
    font-family: "Bradley Hand", cursive;
    color: black;
    text-align: center;
    margin: 0 10px;
}

footer {
    margin: 5px 15px;
}

footer, footer a {
    color: gray;
    clear: left;
}

.banner {
    width: 100%;
    height: 300px;
}

.header {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {
    width: 600px;
    padding-bottom: 100px;
    margin-left: 90px;
}

.about a {
    color: gray;
}

.aboutme {
    width: 400px;
    height: auto;
    float: right;
    margin-right: 125px;
}

.resume {
    padding: 15px 0;
    background-color: rgb(215, 235, 235);
    text-align: center;
}

.courses {
    width: 1000px;
}

.wrapper {
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.wrapper > div {
    padding: 1em;
}

.project {
    background-color: #669999;
    padding: 20px 0;
}

.project a img {
    margin: 10px 20px;
    max-width: 300px;
}

.align_left {
    float: left;
}

.align_right {
    float: right;
}


